<a href="https://colab.research.google.com/github/taknev83/pywedge/blob/main/House_price_Regression_pywedge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pywedge

In [10]:
import pywedge as pw
import pandas as pd
train  = pd.read_csv("https://raw.githubusercontent.com/taknev83/datasets/master/Train_house_price_prediction_regression.csv" )
test = pd.read_csv('https://raw.githubusercontent.com/taknev83/datasets/master/Test__house_price_prediction_regression.csv')
train.head()

  POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
0     Owner                   0  ...  77.597960                   55.0
1    Dealer                   0  ...  76.644605                   51.0
2     Owner                   0  ...  77.632191                   43.0
3     Owner                   0  ...  77.344500                   62.5
4    Dealer                   1  ...  88.484911                   60.5

[5 rows x 12 columns]

In [11]:
ppd = pw.Pre_process_data(train, test, c='ADDRESS', y='TARGET(PRICE_IN_LACS)', type="Regression")

In [12]:
new_X, new_y, new_test = ppd.dataframe_clean()

Reading the datasets...
******************************************

Train Dataframe summary...
******************************************

Your selected train dataframe has 12 columns and 29451 Rows.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Zero Values, Missing Values, % of Total Values, Total Zero Missing Values, % Total Zero Missing Values, Data Type]
Index: []
******************************************
Starting data cleaning...
******************************************
Do you want to use get_dummies or catcodes to convert categorical to numerical?
	press 1 for catcodes - Quick info link - https://bit.ly/3lruqtf
	press 2 for getdummies - Quick info link - https://bit.ly/3d76p7A
2
Comleted categorical column transformation
******************************************
Do you want to standardize the data?
	press 1 for Standard Scalar - Quick info link - https://bit.ly/2GPyG6w
	press 2 for Robust Scalar - Quick info link - https://bit.ly/3jFNCD5
	press 3 for MinMax Scalar - Quick info link - https://bit.ly/2GKYJvX
	press n for no standardize
1
standardization using Standard Scalar completed

In [13]:
X = new_X
y = new_y
so_test = new_test

In [14]:
blm = pw.baseline_model(X,y)

In [15]:
blm.Regression_summary()

Starting regression summary...
TOP 10 FEATURE IMPORTANCE TABLE
SQUARE_FT             0.772439
LATITUDE              0.076279
RESALE                0.072176
BHK_NO.               0.050189
LONGITUDE             0.020698
UNDER_CONSTRUCTION    0.004114
POSTED_BY_Owner       0.002330
READY_TO_MOVE         0.001659
POSTED_BY_Dealer      0.000116
BHK_OR_RK_RK          0.000000
dtype: float64
Please enter test size: (for eg. please enter 0.20 for 20% test size):
	0.2
--------------------------LINEAR MODELS---------------------------------
Linear Reg     | exp_var = 0.211 | mae = 138.649 | rmse = 11.775 | r2 = 0.211 | Train time = 0.018 | Pred. time = 0.002
KNN            | exp_var = 0.386 | mae = 70.128 | rmse = 8.374 | r2 = 0.385 | Train time = 0.357 | Pred. time = 1.140
SVR            | exp_var = 0.012 | mae = 94.688 | rmse = 9.731 | r2 = 0.001 | Train time = 51.564 | Pred. time = 4.960
LinearSVR      | exp_var = 0.139 | mae = 96.807 | rmse = 9.839 | r2 = 0.128 | Train time = 0.132 | Pred. time = 0.001
Lasso          | exp_var = 0.211 | mae = 138.337 | rmse = 11.762 | r2 = 0.211 | Train time = 0.033 | Pred. time = 0.000
Ridge          | exp_var = 0.211 | mae = 138.633 | rmse = 11.774 | r2 = 0.211 | Train time = 0.006 | Pred. time = 0.000
------------------------NON LINEAR MODELS----------------------------------
---------------------THIS MIGHT TAKE A WHILE-------------------------------
SVR            | exp_var = 0.012 | mae = 94.688 | rmse = 9.731 | r2 = 0.001 | Train time = 49.353 | Pred. time = 5.163
Decision Tree  | exp_var = 0.737 | mae = 55.161 | rmse = 7.427 | r2 = 0.737 | Train time = 0.044 | Pred. time = 0.002
Random Forest  | exp_var = 0.754 | mae = 39.887 | rmse = 6.316 | r2 = 0.754 | Train time = 5.592 | Pred. time = 0.065
GB Regressor   | exp_var = 0.756 | mae = 42.662 | rmse = 6.532 | r2 = 0.756 | Train time = 6.038 | Pred. time = 0.016
CB Regressor   | exp_var = 0.860 | mae = 37.461 | rmse = 6.121 | r2 = 0.860 | Train time = 5.502 | Pred. time = 0.016
ADAB Regressor | exp_var = 0.734 | mae = 177.862 | rmse = 13.336 | r2 = 0.692 | Train time = 0.805 | Pred. time = 0.013
MLP Regressor  | exp_var = 0.231 | mae = 122.886 | rmse = 11.085 | r2 = 0.231 | Train time = 26.015 | Pred. time = 0.008
[21:02:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGB Regressor  | exp_var = 0.762 | mae = 46.147 | rmse = 6.793 | r2 = 0.762 | Train time = 1.226 | Pred. time = 0.016